@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
input {
  padding: 1rem;
  width: 50%;
}
